@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

/*//////////////////////////////////////////// geral /////////////////////////////////////////////*/
body{
    background-color: greenyellow;
    color: rgb(159, 168, 152);
}
.header01 .intro{
    border: 1px solid #090b13;
    background-color: #2494b2;
}
.header01 h2{
    color: #fff;
    text-align: center;
    background-color: #0464b4;
    padding: 10px;
}
.max-width, .intro{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
    height: auto;
    background-color: rgb(0, 255, 115);  
}
.start{
    color: #fff;
    text-align: justify;
    padding: 15px 10px 10px;
    font-size: 25px;
}
.principal .max-width .content{
    display: flex;
}
/*///////////////////////////////////// Left box /////////////////////////////////////////*/

.principal .left{
    width: 50%;
    /*border: 3px solid #090b13;*/
    height: auto;
}


.principal .left .text{
    color: #090b13;
    font-size: 20px;
    border: 1px solid black;
    background-color: aqua;
    width: auto;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}
.principal .title{
    margin-bottom: 10px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 25px;
    color: #090b13;
    text-align: center;
}
.principal .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.principal .content .column{
    width: calc(50% - 30px);
}
.menu-general{
    margin-top: 15px;
}
.principal .left .header .menu{
    display: flex;
    justify-content: space-between;
}
.principal .left .header .menu a{
    display: block;
    background: white;
    color: green;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
.principal .left .header .menu a.active,
.principal .left .header .menu a:hover{
    color: white;
    background: blue;
}
.principal .left form .textarea,
.principal .left .result{
    height: 80px;
    width: 100%;
}
.principal .left .lotoResult{
    width: 100%;
}
.principal .left form .field input,
.principal .left .field input{
    height: 70%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    transition: all 0.3s ease;
}
.principal .left form .field input:focus{
    border-color: blue;
}
.principal .left form .buttom-area{
    display: flex;
    align-items: center;
}
.left form .buttom-area button{
    background-color: blue;
    color: white;
    display: block;
    width: 160px;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: wrap;
    border: 1px solid blue;
    transition: all 0.3s ease;
}
.left form .buttom-area button:hover{
    color: blue;
    background: none;
}

/*----------------------- Dia da sua sorte --------------------------*/
/*.principal .left{
    border: 1px solid black;
    height: auto;
    background-color: aqua;
    margin-bottom: 10px;
}*/
.principal .left .lockday{
    height: auto;
    width: 100%;
    text-align: center;
    color: #090b13;
    font-size: 20px;
}
.principal .left .day a{
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 15px;
}



/*///////////////////////////////////// Right box /////////////////////////////////////////*/
.principal .right{
    width: 50%;
    border: 3px solid #090b13;
    height: auto;
    background: #04fcfc;
}

.principal .right .donation{
    background-color: #fff;
    height: auto;
    width: 100%;
    border: 1px solid #090b13;
    /*margin-top: 10px;*/
    color: #090b13;
    text-align: center;
}
.principal .right .donation .donationTitle p{
    background-color: antiquewhite;
    padding: 10px;
    font-size: 18px;
}
.principal .right .donation .donationBank{
    margin-top: 10px;
    font-size: 17px;
}
.principal .right .donation .donationInput{
    margin: 10px;
}
.donationInput input{
    border: none;
}
.principal .right .numerology{
    /*border: 1px solid #090b13;*/
    height: auto;
    margin: 10px;
}
.principal .right .numerologyTable td{
    width: 50px;
    color: #090b13;
    border: 2px solid #090b13;
    text-align: center;  
}
.principal .right .numerologyTable .tableHead{
    background-color: #407fd1;
}
.principal .right .numerology h3{
    text-align: center;
    margin-top: 10px;
    color: #090b13;
}
.principal .right .numerology p{
    margin-top: 5px;
    color: #090b13;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.principal .right .numerologyTable{
    margin-top: 10px;
    width: 100%;
}
.principal .right .exemple{
    color: #090b13;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*----------------------------------------- Contact buttom ----------------------------------*/
.principal .right .contact{
    height: auto;
    width: 100%;
    text-align: center;
    /*color: #090b13;*/
    color: #fff;
    font-size: 20px;
}
.principal .right .contact p{
    font-weight: bold;
    padding: 15px;
}
.principal .right .contactBtn a{
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*/////////////////////////////////////// Resultado /////////////////////////////////////////*/

.resultadoAffiche{
    background: green;
    height: auto;
    width: 100vw;
}
.resultadoAffiche .titre{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    color: #fff;
}
.resultadoAffiche .verresultados{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultadoAffiche .verresultados a{
    margin: 15px;
    color: #fff;
}
.resultadoAffiche .verresultados a:hover{
    color: #04fcfc;
}
.resultadoAffiche .verresultadosSmall a{
    display: none;
}

/*//////////////////////////////////////// Footer \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
footer{
    background: #090b13;
    padding: 25px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #0063e5;
}
footer span a:hover{
    color: #fff;
}
footer .adm{
    margin-top: 10px;
}

/*||||||||||||||||||||||||||||||||||||||||||| Loguin ||||||||||||||||||||||||||||||||||||||||||||||*/

.login_container{
    min-height: auto;
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 25px;
}

.login_title{
    font-size: 3rem;
    margin-bottom: 32px;
    color: var(--light-color);
}

.login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login input{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    text-transform: initial;
}

.login_input-border{
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
    transition: .3s ease-in-out;
}

.login_input-border::after{
    content: "";
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: linear-gradient(120deg, yellow, green);
    transition: .3s ease-in-out;
}

.login button{
    width: 100%;
    height: 48px;
    outline: none;
    background: linear-gradient(120deg, yellow, green, yellow);
    background-size: 200%;
    margin-bottom: 32px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    border: unset;
    cursor: pointer;
    border-radius: 4px;
    transition: .5s ease-in-out;
    margin-top: 25px;
}

.login button:hover{
    background-position: right;
}

.login a{
    color: #08118f;
    font-size: 2rem;
    margin-top: 0rem;
    text-transform: initial;
    margin: auto;
}

/*-------------------- Contato -----------------*/

.max-width-contact{
    max-width: 500px;
    padding: 0 10px;
    margin: auto;
}
.contact{
    color: #fff;
    background: #040714;
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
    height: 635px;
}
.contact .title{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    font-weight: 400;
    font-size: 35px;
}



.contact .right-contact form .field,
.contact .right-contact form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right-contact form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right-contact form .field input,
.contact .right-contact form .field textarea{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 0 10px;
    transition: all 0.3s ease;
}
.contact .right-contact form .field input:focus,
.contact .right-contact form .field textarea:focus{
    border-color: #0063e5;
}
.contact .right-contact form .textarea textarea{
    padding-top: 10px;
    height: 150px;
}
.contact .right-contact form .buttom-area{
    display: flex;
    align-items: center;
}
.contact .right-contact form .buttom-area button{
    background-color: #0063e5;
    color: #fff;
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: wrap;
    border: 2px solid #0063e5;
    transition: all 0.3s ease;
    margin-top: 80px;
}
.contact .right-contact form .buttom-area button:hover{
    color: #0063e5;
    background: none;
}
.contact .right-contact .btn-voltar{
    margin-top: 25px;
    font-size: 25px;
}
.contact .right-contact a{
    color: #fff;
}

/*//////////////////////////////////////// Telas pequenas \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media (max-width: 947px){
    body{
        background-color: rgb(0, 255, 115);
    }
    .principal .max-width .content{
        display: block;
    }
    .principal .content .column{
        width: 100%;
    }
    /*-------------------- LEFT -------------------*/
    .principal .left .text{
        margin-top: 10px;
    }
    .principal .left .header .menu a{
        font-size: 13.5px;
    }
    .principal .title{
        padding-top: 10px;
        font-size: 18px;
    }

    /*////////////////////////////////////// Contato \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
    .contact{
        height: 680px;
    }

    /*////////////////////////////////////// Resultado \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
    .resultadoAffiche{
        background: rgb(0, 255, 115);
    }
    .resultadoAffiche .verresultados{
        display: none;
    }
    .resultadoAffiche .titre{
        font-size: 17px;
        color: green;
    }
    
    .resultadoAffiche .verresultadosSmall{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .resultadoAffiche .verresultadosSmall a{
        margin: 5px;
        color: #fff;
        display: block;
        font-size: 15px;
        background: green;
        padding: 5px;
    }
    .resultadoAffiche .verresultadosSmall a:hover{
        color: #04fcfc;
    }
    
}